.note {
  background-color: rgb(226, 222, 222);
  padding: 20px 20px;
  border-radius: 7px;
}

.notes {
  padding: 10px 30px;
}

@media (min-width: 576px) {
  .notes {
    padding: 10px 70px;
  }
}

@media (min-width: 768px) {
  .notes {
    padding: 10px 100px;
  }
}

@media (min-width: 1200px) {
  .notes {
    padding: 10px 150px;
  }
}
