.sign-up {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up form {
  width: 400px;
}

.sign-up form h1 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.sign-up form label,
input {
  display: block;
}

.sign-up form input {
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 2px solid lightgrey;
  padding: 7px 0;
}

.sign-up form label {
  margin-top: 25px;
  margin-bottom: 5px;
  color: grey;
}

.sign-up form button {
  width: 100%;
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 7px;
}

.sign-up p {
  margin-top: 40px;
  color: grey;
}

.login-page-link {
  color: black;
  font-weight: bold;
}
